<% if user_signed_in? %>
    <%= button_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <button><%= link_to 'Edit profile',  edit_user_registration_path %></button>
<div class="welcome-page">
    <span>Hello, <%= current_user.first_name %>!</span></ br>
    <h5><span>Do you want to make your new post?</span></h5>
    <%= link_to 'My posts', posts_path%>
    <%= link_to 'New post', new_post_path%>
    <%= link_to 'Favorite feed' %>
    <%= link_to 'My hashtags' %>
    <br>
</div>
<% else %>
    <h2>Welcome to Soft Blog. </ br>Please, log in or sign up:</h2></ br>
<div class="welcome-page">
    <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
